php_flag  log_errors on
#php_value error_log  /var/www/html/cursosantosdumont.org.br/Web/logs/php_errors_log.txt

php_value error_log  C:/xampp/htdocs/santosdumont/logs/php_errors_log.txt

RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]